.search-card-header h3{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-bottom: 15px;
    font-size: 29px;
    text-decoration: 2px underline rgb(40, 130, 255);
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.card{
    height: auto;
    width: calc(80% / 3 - 25px);
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    margin: 30px 53px 15px;
    border-radius: 8px;
    animation: ease-in;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}
.card .card-image img{
    overflow: hidden;
    height: 250px;
    width: 310px;
}
.card .card-content{
    margin: 1rem;
    margin-top: 0.3rem;
}
.card .card-title{
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
}
.card .card-info{
    display: flex;
    justify-content: left;
    margin: 0.5rem;
}
.card .card-info p{
    font-size: 15px;
}
.card .card-file-btn{
    display: flex;
    justify-content: center;
}
.card .card-file-btn input[type='number']{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    height: 30px;
    width: 220px;
    font-size: 15px;
}
.card .card-file-btn input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
}
.card .card-file-btn input[type='file']::before {
    content: 'Upload image in .jpeg format';
    display: flex;
    justify-content: center;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 400;
    font-size: 10pt;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card .card-submit-btn{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    width: auto;
    color: aliceblue;
    padding: 8px 0px;
    border-radius: 5px;
    background-color: rgb(44, 127, 243);
}
.card .card-submit-btn:hover{
    cursor: pointer;
    background-color: rgba(4, 4, 160, 0.742);
}
.card .card-submit-btn h4{
    font-size: 17px;
    font-weight: 400;
}



/* .SearchOption{
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}
.search{
    font-size: 25px;
} */
/* input[type="file"]{
    visibility:hidden;
} */
/* .SearchOption label{
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    background: #2c83fe;
    font-size: 17px;
    width: 90px;
    border-radius: 3px;
}
.SearchOption label:hover{
    background: #06497c;
    transition: .5s;
}
@media (max-width : 850px){
    .SearchOption lable{
        width: 100%;
        display: inline-block;
    }
} */